
*{
    margin: 0; padding: 0; box-sizing: border-box;
}

body{
    margin: 0;
  padding: 0;
  color: #3d3d3d;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: whitesmoke;
}
/*topo da pagina*/
.topo{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: whitesmoke;
    align-self: stretch;
    position: fixed;
    width: 100%;

}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1024px; 
   
    
}
.link-principal{
    font-size: 20px;
    color: gray;
    text-decoration: none;
}
.link-principal span{
    color: lightskyblue;
}
.link-topo{
    color: gray;
    text-decoration: none;
    margin: 10px;
    text-transform: uppercase;
}
.link-topo:hover {
    border-bottom: 3px solid #6592c9;
}

/*img*/
.img-fundo{
    background-image: url(../assets/img-fundo.jpg) ;
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Quartos*/
.titulo-quarto{
    background-color: whitesmoke;
    margin: auto;
    max-width: 1024px ;
    text-align: center;
    padding: 15px 0;
    color: gray;
}
.titulo-quarto p{
    padding: 5px;
}

.quarto-dentro{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%; 
    padding: 10px;
}
.quarto-dentro img{
    width: 410px;
    height: 290px;
    margin-left: 30px;
    
}
/*Sobre os quartos*/
.container-info{
    padding: 15px;
}
.container-info h3{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 5px;
}
.container-info ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
}
.container-info li{
    width: 25%;
    margin-left: 40px;
    text-align: left;
    margin-top: 10px;
    padding: 10px;
}

/*Rodaopé*/

.cabecalho-cima{
    max-width: 100%;
    background-color:#49997d ;
    border-bottom: 1px solid;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.info{
    width: 23%;
    height: 100px;
    display: flex;
    align-items: center;
    
}
.info p{
    color: white;
    text-align: center;
}
.info h4{
    color: white;
    text-align: left;
    font-size: 22px;
    margin-left: 20px;
}
.info a{
    text-decoration: none;
    margin-right: 10px ;
}
.info img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.copy{
    max-width: 100%;
    height: 50px;
    padding-top: 10px;
    background-color:#49997d ;
    display: flex;
    justify-content: center;
    color: white;
}
/*---- Responsividade-----*/
@media (max-width: 450px){
    .container{
        flex-direction: column;
        border-top: 1px solid whitesmoke ;
    }
    .link-principal{
        width: 15px;
    }
    .link-topo{
        color: gray;
        margin: 5px;

    }
    .img-fundo{
        height: 100px;
        background-position: bottom;
    }
    .quarto-dentro{
        justify-content: center;
    }
    .quartos{
        text-align: center;
        border-bottom: 1px solid gray;
    }
    .quartos ul li{
        font-size: 15px;
    }
    .imagens{
        margin-bottom: 50px;
    }
    .footer .cabecalho-cima, .info {
        display: none;
    }
}